#bg{
    background-image: linear-gradient(red,blue,green,yellow);
    background-repeat: no-repeat;
}

#shadow{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    box-shadow: 20px 20px 5px 10px inset pink ;
}

#cl-1{
    background-color: blue;
    height: 120px;
    width: max-content;
    padding: 20px;
    float: left;
}

#cl-2{
    background-color: aquamarine;
    height: 80px;
    padding: 20px;
    width: fit-content;
    float: right;
}

#col{
    column-count: 3;
    text-align:justify;  
    text-justify:inter-character;
}